<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/header.ejs') %>
  </head>
  <body>
    <h1><%= title %></h1>
    <%- include("./partials/weekly.ejs") %>
    <%- include("./partials/all.ejs") %>
    <%- include("./partials/news.ejs") %>
  </body>
</html>
